In [2]:
import pandas as pd
df=pd.read_csv(r"C:\Users\polpi\Desktop\data science\assignments\Neural networks\Alphabets_data.csv")
df

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,D,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7
19996,C,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7
19997,T,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4
19998,S,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8
19999,A,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8

In [3]:
df.columns

Index(['letter', 'xbox', 'ybox', 'width', 'height', 'onpix', 'xbar', 'ybar',
       'x2bar', 'y2bar', 'xybar', 'x2ybar', 'xy2bar', 'xedge', 'xedgey',
       'yedge', 'yedgex'],
      dtype='object')

In [4]:
df.info

<bound method DataFrame.info of       letter  xbox  ybox  width  height  onpix  xbar  ybar  x2bar  y2bar  \
0          T     2     8      3       5      1     8    13      0      6
1          I     5    12      3       7      2    10     5      5      4
2          D     4    11      6       8      6    10     6      2      6
3          N     7    11      6       6      3     5     9      4      6
4          G     2     1      3       1      1     8     6      6      6
...      ...   ...   ...    ...     ...    ...   ...   ...    ...    ...
19995      D     2     2      3       3      2     7     7      7      6
19996      C     7    10      8       8      4     4     8      6      9
19997      T     6     9      6       7      5     6    11      3      7
19998      S     2     3      4       2      1     8     7      2      6
19999      A     4     9      6       6      2     9     5      3      1

       xybar  x2ybar  xy2bar  xedge  xedgey  yedge  yedgex
0          6      10       8      0       8      0       8
1         13       3       9      2       8      4      10
2         10       3       7      3       7      3       9
3          4       4      10      6      10      2       8
4          6       5       9      1       7      5      10
...      ...     ...     ...    ...     ...    ...     ...
19995      6       6       4      2       8      3       7
19996     12       9      13      2       9      3       7
19997     11       9       5      2      12      2       4
19998     10       6       8      1       9      5       8
19999      8       1       8      2       7      2       8

[20000 rows x 17 columns]>

In [5]:
df.describe()

,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
count,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000
mean,4.023550,7.035500,5.121850,5.37245,3.505850,6.897600,7.500450,4.628600,5.178650,8.282050,6.45400,7.929000,3.046100,8.338850,3.691750,7.80120
std,1.913212,3.304555,2.014573,2.26139,2.190458,2.026035,2.325354,2.699968,2.380823,2.488475,2.63107,2.080619,2.332541,1.546722,2.567073,1.61747
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,3.000000,5.000000,4.000000,4.00000,2.000000,6.000000,6.000000,3.000000,4.000000,7.000000,5.00000,7.000000,1.000000,8.000000,2.000000,7.00000
50%,4.000000,7.000000,5.000000,6.00000,3.000000,7.000000,7.000000,4.000000,5.000000,8.000000,6.00000,8.000000,3.000000,8.000000,3.000000,8.00000
75%,5.000000,9.000000,6.000000,7.00000,5.000000,8.000000,9.000000,6.000000,7.000000,10.000000,8.00000,9.000000,4.000000,9.000000,5.000000,9.00000
max,15.000000,15.000000,15.000000,15.00000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.00000,15.000000,15.000000,15.000000,15.000000,15.00000

In [6]:
df.isnull().sum()

letter    0
xbox      0
ybox      0
width     0
height    0
onpix     0
xbar      0
ybar      0
x2bar     0
y2bar     0
xybar     0
x2ybar    0
xy2bar    0
xedge     0
xedgey    0
yedge     0
yedgex    0
dtype: int64

In [7]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
le=LabelEncoder()
ss=StandardScaler()
df["letter"]=le.fit_transform(df["letter"])
df

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,19,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,8,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,3,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,13,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,6,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,3,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7
19996,2,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7
19997,19,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4
19998,18,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8
19999,0,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8

In [8]:
x1=df.drop('letter', axis=1)
y=df["letter"]
scaled_x1=ss.fit_transform(x1)
x=pd.DataFrame(scaled_x1,columns=x1.columns)
x

,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,-1.057698,0.291877,-1.053277,-0.164704,-1.144013,0.544130,2.365097,-1.714360,0.344994,-0.917071,1.347774,0.034125,-1.305948,-0.219082,-1.438153,0.122911
1,0.510385,1.502358,-1.053277,0.719730,-0.687476,1.531305,-1.075326,0.137561,-0.495072,1.895968,-1.312807,0.514764,-0.448492,-0.219082,0.120081,1.359441
2,-0.012309,1.199738,0.435910,1.161947,1.138672,1.531305,-0.645273,-0.973591,0.344994,0.690380,-1.312807,-0.446513,-0.019764,-0.865626,-0.269477,0.741176
3,1.555774,1.199738,0.435910,0.277513,-0.230939,-0.936631,0.644886,-0.232823,0.344994,-1.720796,-0.932724,0.995402,1.266419,1.074008,-0.659036,0.122911
4,-1.057698,-1.826464,-1.053277,-1.933571,-1.144013,0.544130,-0.645273,0.507945,0.344994,-0.917071,-0.552641,0.514764,-0.877220,-0.865626,0.509640,1.359441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,-1.057698,-1.523844,-1.053277,-1.049137,-0.687476,0.050543,-0.215220,0.878329,0.344994,-0.917071,-0.172558,-1.888428,-0.448492,-0.219082,-0.269477,-0.495354
19996,1.555774,0.897117,1.428701,1.161947,0.225598,-1.430218,0.214833,0.507945,1.605094,1.494105,0.967691,2.437316,-0.448492,0.427463,-0.269477,-0.495354
19997,1.033079,0.594497,0.435910,0.719730,0.682135,-0.443044,1.504991,-0.603207,0.765028,1.092242,0.967691,-1.407789,-0.448492,2.367097,-0.659036,-2.350149
19998,-1.057698,-1.221224,-0.556881,-1.491354,-1.144013,0.544130,-0.215220,-0.973591,0.344994,0.690380,-0.172558,0.034125,-0.877220,0.427463,0.509640,0.122911
19999,-0.012309,0.594497,0.435910,0.277513,-0.687476,1.037718,-1.075326,-0.603207,-1.755172,-0.113345,-2.072973,0.034125,-0.448492,-0.865626,-0.659036,0.122911

In [9]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((16000, 16), (4000, 16), (16000,), (4000,))

In [10]:
import numpy as np
model = Sequential()
model.add(Dense(64, input_dim=x_train.shape[1], activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(len(np.unique(y)), activation='softmax'))
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])
model.fit(x_train, y_train, epochs=20, batch_size=32, verbose=1)
loss, accuracy = model.evaluate(x_test, y_test, verbose=0)
print(f"Test Accuracy: {accuracy:.2f}")

Epoch 1/20

C:\Users\polpi\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

500/500 ━━━━━━━━━━━━━━━━━━━━ 1s 845us/step - accuracy: 0.3178 - loss: 2.5211
Epoch 2/20
500/500 ━━━━━━━━━━━━━━━━━━━━ 0s 774us/step - accuracy: 0.7120 - loss: 0.9983
Epoch 3/20
500/500 ━━━━━━━━━━━━━━━━━━━━ 0s 798us/step - accuracy: 0.7856 - loss: 0.7320
Epoch 4/20
500/500 ━━━━━━━━━━━━━━━━━━━━ 0s 830us/step - accuracy: 0.8287 - loss: 0.5927
Epoch 5/20
500/500 ━━━━━━━━━━━━━━━━━━━━ 0s 922us/step - accuracy: 0.8547 - loss: 0.5183
Epoch 6/20
500/500 ━━━━━━━━━━━━━━━━━━━━ 0s 914us/step - accuracy: 0.8618 - loss: 0.4716
Epoch 7/20
500/500 ━━━━━━━━━━━━━━━━━━━━ 0s 868us/step - accuracy: 0.8784 - loss: 0.4221
Epoch 8/20
500/500 ━━━━━━━━━━━━━━━━━━━━ 0s 844us/step - accuracy: 0.8838 - loss: 0.3922
Epoch 9/20
500/500 ━━━━━━━━━━━━━━━━━━━━ 0s 791us/step - accuracy: 0.8974 - loss: 0.3460
Epoch 10/20
500/500 ━━━━━━━━━━━━━━━━━━━━ 0s 817us/step - accuracy: 0.9037 - loss: 0.3275
Epoch 11/20
500/500 ━━━━━━━━━━━━━━━━━━━━ 0s 831us/step - accuracy: 0.9105 - loss: 0.3052
Epoch 12/20
500/500 ━━━━━━━━━━━━━━━━━━━━ 0s 790us/step - accuracy: 0.9140 - loss: 0.2940
Epoch 13/20
500/500 ━━━━━━━━━━━━━━━━━━━━ 0s 790us/step - accuracy: 0.9224 - loss: 0.2696
Epoch 14/20
500/500 ━━━━━━━━━━━━━━━━━━━━ 0s 795us/step - accuracy: 0.9241 - loss: 0.2563
Epoch 15/20
500/500 ━━━━━━━━━━━━━━━━━━━━ 0s 752us/step - accuracy: 0.9307 - loss: 0.2372
Epoch 16/20
500/500 ━━━━━━━━━━━━━━━━━━━━ 0s 874us/step - accuracy: 0.9347 - loss: 0.2262
Epoch 17/20
500/500 ━━━━━━━━━━━━━━━━━━━━ 0s 820us/step - accuracy: 0.9342 - loss: 0.2187
Epoch 18/20
500/500 ━━━━━━━━━━━━━━━━━━━━ 0s 823us/step - accuracy: 0.9365 - loss: 0.2080
Epoch 19/20
500/500 ━━━━━━━━━━━━━━━━━━━━ 0s 800us/step - accuracy: 0.9371 - loss: 0.2030
Epoch 20/20
500/500 ━━━━━━━━━━━━━━━━━━━━ 0s 822us/step - accuracy: 0.9435 - loss: 0.1849
Test Accuracy: 0.93

In [11]:
predictions = model.predict(x_test)
predicted_classes = np.argmax(predictions, axis=1)
predicted_labels = le.inverse_transform(predicted_classes)
for i in range(10):
    print(f"True: {le.inverse_transform([y_test.iloc[i]])[0]}, Predicted: {predicted_labels[i]}")

125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 761us/step
True: T, Predicted: Z
True: L, Predicted: L
True: A, Predicted: A
True: E, Predicted: E
True: Q, Predicted: Q
True: E, Predicted: E
True: O, Predicted: O
True: Q, Predicted: Q
True: G, Predicted: G
True: O, Predicted: O

In [12]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
predicted_labels_encoded = le.transform(predicted_labels)

accuracy = accuracy_score(y_test, predicted_labels_encoded)
precision = precision_score(y_test, predicted_labels_encoded, average='weighted')
recall = recall_score(y_test, predicted_labels_encoded, average='weighted')
f1 = f1_score(y_test, predicted_labels_encoded, average='weighted')

print(f"Accuracy: {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1-Score: {f1:.4f}")

Accuracy: 0.9253
Precision: 0.9273
Recall: 0.9253
F1-Score: 0.9255

In [ ]:
print("Hyperparameters can be found using GridsearchCV")
from sklearn.model_selection import GridSearchCV
from sklearn.neural_network import MLPClassifier
param_grid = {
    'hidden_layer_sizes': [(50,), (100,), (150,)],
    'activation': ['relu', 'tanh'],
    'solver': ['adam', 'sgd'],
    'learning_rate_init': [0.001, 0.01, 0.1],
}

grid_search = GridSearchCV(MLPClassifier(max_iter=1000, random_state=42), param_grid, n_jobs=-1, cv=3)
grid_search.fit(x_train, y_train)
print("Best parameters:", grid_search.best_params_)

In [17]:
print('Since getting hyperparameters was stressing the CPUs, I skipped this part.')
print("However, upon getting the best parameters, we just need to use the best_params for our modeling")
print("final_model = MLPClassifier(max_iter=1000,random_state=42,**best_params)")

Since getting hyperparameters was stressing the CPUs, I skipped this part.
However, upon getting the best parameters, we just need to use the best_params for our modeling
final_model = MLPClassifier(max_iter=1000,random_state=42,**best_params)

In [18]:
print("The relu activation for the sequential model worked great giving us high scores for f1, precision, accuracy and recall\nsuggesting that the model is good")

The relu activation for the sequential model worked great giving us high scores for f1, precision, accuracy and recall
suggesting that the model is good